<div class="container">
  <form (ngSubmit)="login(formData)" #formData='ngForm'>
    <div style="display: inline-grid; margin: 10px;">
      <label>E-mail</label>
      <input ngModel type="email" name="email" required>

      <label>Hasło</label>
      <input ngModel type="password" name="password" required>

      <button type="submit" [disabled]="formData.invalid">Zaloguj</button>
      <button type="button" [disabled]="formData.invalid" (click)="signup(formData)">Zarejestruj</button>
    </div>
  </form>
</div>
