<ul class="nav nav-pills justify-content-center">
  <li class="nav-item">
    <a class="nav-link" routerLink="todoTask" routerLinkActive="active">Zadania</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="doneTask" routerLinkActive="active">Wykonane</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" *ngIf="!authService.user" routerLink="login" routerLinkActive="active">Zaloguj</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" *ngIf="authService.user"(click)="logout()" >Wyloguj</a>
  </li>
</ul>

<router-outlet></router-outlet>



