<div class="container">
  <p>Wykonane zadanie: {{tasksDone.length}}</p>
  <ul>
    <li appDate [date]="task.end" appChecked *ngFor="let task of tasksDone">
      {{task.name | transformPipe: ' -super!'}}
    </li>
  </ul>
</div>
